<!-- 子功能選取列 x3 link -->
<section class="flex pt-4 bg-white z-50" style="position: sticky;top:0;">
    <div class="absolute border border-solid border-b-2 border-t-0 w-full bottom-0 z-[-10]">

    </div>
    <button class="w-1/3 flex justify-center text-xs font-bold" onclick="window.location.href = 'selfPickUp.html'">
        <span
            class="text-[--btm-icon-hover] px-2 pb-1 border border-solid border-0 border-b-2 border-[--btm-icon-hover]">
            一般自取
        </span>
    </button>
    <button class="w-1/3 flex justify-center text-xs font-bold" onclick="window.location.href = 'cherish.html'">
        <span>

            惜食福袋
        </span>
    </button>
    <button class="w-1/3 flex justify-center text-xs font-bold" onclick="window.location.href = 'shopSell.html'">
        <span>
            店家開團
        </span>
    </button>
</section>