<!-- 範例區域 -->
<section class="count-down w-full px-4">
            
    <div class="w-full bg-white pt-2 pb-2 relative">
        <svg class="w-8 h-8 mb-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 22 22">
            <path xmlns="http://www.w3.org/2000/svg" class="stroke-black"  stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2"
                d="M18 19v-1.25c0-2.071-1.919-3.75-4.286-3.75h-3.428C7.919 14 6 15.679 6 17.75V19m9-11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <div class="absolute top-0 pt-1 left-12">
            <h6 class="font-black text-lg tracking-tighter leading-sung">
                家庭
            </h6>
            <p class="text-xs leading-none">管理家庭帳號</p>

        </div>
    </div>
</section>

<!-- 範例區域2 -->
<section class="count-down w-full px-4">
    
    <div class="w-full bg-white pt-2 pb-2 relative">
        <svg class="w-8 h-8 mb-2 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 22 22">
            <path xmlns="http://www.w3.org/2000/svg" class="stroke-black"  stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2"
                d="M18 19v-1.25c0-2.071-1.919-3.75-4.286-3.75h-3.428C7.919 14 6 15.679 6 17.75V19m9-11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <div class="absolute top-0 pt-3 left-12">
            <h6 class="font-black text-lg tracking-tighter leading-sung">
                個人檔案
            </h6>

        </div>
    </div>
</section>